body{
    background-color: #3333;
    margin-top: 5rem;
}

.bg-steel {
    background-color: #5d4b6e;
  }
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }



.navbar-nav{
    gap: 90%;
}