{% extends 'base.html'%}
{% block content %}
        {% for pitch in pitches %}

    <article class="media content-section">
        <div class="card"  style="width: 20rem;" >
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pitch.author.image_file) }}" alt="">
            <div class="card">
                <div class="card-header">
                <p>{{pitch.title}}</p>
                </div>
                <div class="card-body">
                <p class="card-text">{{pitch.pitch}}</p>
                </div>
                <div class="card-footer">
                <p>Posted by: {{pitch.author.username}}</p>
                </div>
                <div class="card-footer text-muted">
                <small>Date Posted: {{pitch.date_posted.strftime('%Y-%m-%d')}}</small>
                </div>
                
            </div>
    
        </div>
    </article>
        {% endfor %}
        {% endblock content %}
   